/* COLOUR PALETTE 
#0870b0 - FOGCHECK BLUE */

/* GLOBAL PROPERTIES 
----------------------*/

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

.container {
	max-width: 900px;
	margin: 0 auto;
	overflow: auto;
	padding: 10px 20px;

	border:1px blue solid;
}

body {
	font-family: "Roboto", Helvetica, sans-serif;
	background:#f4f4f4;
	margin: 0;	
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;	
}

h1 {
	color: #0870b0;
	font-size: 28px;
	line-height: 1px;
	font-family: "Roboto", "Segoe UI", sans-serif;
	font-weight: 500;
}


/* NAVIGATION 
---------------*/

#topNavigation {
	text-align: center;	
	padding: 30px 0;
	border-bottom: 2px solid #999;
}

.navContainer {
	max-width: 950px;
	margin: 0 auto;
	overflow: none;
	padding: 10px 20px;
}

.navLogoBox {
	float: left;
	width: 30%;
	top: 0;
}

.navLogo {
	width: 240px;
	padding: 5px;
}

.navigationTabs {
	float: right;
	width: 70%;
	text-align: center;
}

.navigationTabs a {
	color: #0870b0;
	padding: 12px 20px;
	font-weight: 700;
}



/* HEADING AND FOOTER 
----------------------*/

.heading {
	text-align: center;
	position: relative;
	background: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.5));
	background-size: cover;
	border-bottom: 1px solid #999;
	padding: 1.5em 0 1.5em;
}

.ftcL {
	text-align: center;
	width: 150px;
	padding: 6px;
}

.ftcW {
	text-align: center;
	width: 400px;
}

.heading h2 {
	color: #0870b0;
	font-family: "Roboto", "Segoe UI", sans-serif;
	font-weight: 1000;
}

.welcome {
	background-color: #0870b0;
	padding: 20px 0 20px;
}

.welcome p {
	color: white;
	font-size: 18px;
	font-weight: 100;
}
.welcome h1 {
	color: white;
	font-family: "Roboto", "Segoe UI", sans-serif;
	text-align:center;
	line-height: 7px;
}

#footerPrimary {
	background-color: #222;
	color: white;
}

#footerPrimary h3 {
	background-color: #222;
	color: #0870b0;
	line-height: 0.8em;
}

.footerUL {
	list-style: none;
	padding-left: 8px;
	float:left;
	margin:0;
}

	.footerLI a {
		text-decoration: none;
		color: #0870b0;
	}
	.footerLI a:hover {
		text-decoration: underline;
	}

.ftcLogo {
		width: 200px;
		float:right;
	}

#footerSecondary {
	background-color: #444;
	color: white;
	font-size: 12px;
}

/* SECTIONS 
--------------*/

.bulletPoints h1 {
	color: #333;
	line-height: 1.3em;
}

.bulletPoints p {
	line-height: 1.2em;
	font-size: 18px;
}

.quoteBlock {
	background-color: #0870b0;
	padding: 100px 0;
}

.bpUL {
	font-size: 18px;
	line-height: 1.6em;
}

.bpLI {
	padding-bottom: 12px;
	list-style-image: url(../images/icon_bullet.png);
}
.box {
	border-color:black;
	border-style:solid;
	text-align:center;
	width:300px;
	margin: 0 auto;
	padding-bottom:20px;
}
#badges p {
	color:#0870B0;
	margin: 5px 3px;
	font-size:14pt;
}

.boxLogo {
	height:128px;padding-bottom:5px;
}

.boxGroup {
	border:#0870B0 solid;
	display:flex;
	text-align:center;
	
    width:100%;
    margin: 0 auto;
    margin-top:10px;
    height:350px;
}
.boxGroup div {
	padding:2px 5px;
	border-color:green;
	border-style:solid;
}
.boxGroup .box {
	height:300px;
	width:38%;
	padding: 10px;
	margin:0 auto;
	border:#0870B0 solid;
	margin-top:25px;
}


/* BADGES */

/* .badge {
	width: 100px;
}

.badges {
	display: block;
	text-align: center;
	background: #f4f4f4;
}

	.badges p {
		text-align: center;
		float: right;
	}

/**.badge-wrap {	
	position: relative;
	display: block;
	margin: 0;
} **/

/* .tabs {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.badgeContainer {
	text-align: center;
	margin: 0 auto;
	margin-top: 24px;
}

.tab {
	width: 31%;
	margin-right: 3.5%;
	float: left;
	z-index: 0;
	border-radius: 24px;
	padding:8px;
	transition-property: background-color;
	transition-duration: 0.4s;
	height: 260px;
}
	.tab p {
		color: #0870b0;
		padding: 0 8px; 
		font-size: 15px;
	}
	.tab h2 {
		margin: 0;
		padding: 8px 0 16px;
		font-size: 18px;
		color: #0870b0;
		transition: color 0.4s;
	}
	.tab:hover {
		background-color: #0870b0;
	}
	.tab:hover h2 {
		color: white;
	}
	.tab:hover p {
		color: white;
	}
	.last {
		margin: 0;
	}
*/

/* MEDIA QUERIES 
----------------------*/

@media all and (max-width: 500px) {
	.fogchk-logo {
		width:300px;
	}
	.welcome h1 {
		line-height:normal;
	}
	.tabs {
		overflow:hidden;
	}
	.tabs h2 {
		font-size: 16px;
	}
	.tab {
		height:320px;
	}
	.badge {
		width:60px;
	}
	.mobileShow {
		display:inline;
	}
	.ftcLogo {
	width: 100px;
	}
}

